In [45]:
import sqlite3 as sq

In [46]:
import csv

In [47]:
conn=sq.connect('productt.db')

In [48]:
cur = conn.cursor()

In [49]:
cur.execute('''
CREATE TABLE IF NOT EXISTS productt (
    userid int,
    pid int,
    pname text,
    prate number,
    pqty int
)
''')

In [50]:
cur.execute("insert into productt values(1,989,'pen',20,250),(2,899,'note',30,200),(3,717,'book',15,150),(4,616,'pencil',5,100),(5,535,'eraser',10,240)")

In [51]:
conn.commit()

In [52]:
cur.execute('''
create trigger if not exists product_rate_qty
before insert on productt
for each row
begin
   select
    case
       when new.prate = 0 THEN
            raise (abort, 'Product rate cannot be zero.')
        when new.pqty = 0 THEN
            raise (abort, 'Product quantity cannot be zero.')
    end;
end;
''')

In [53]:
cur.execute("select * from productt")

In [54]:
cur.fetchall()

[(1, 989, 'pen', 20, 250),
 (2, 899, 'note', 30, 200),
 (3, 717, 'book', 15, 150),
 (4, 616, 'pencil', 5, 100),
 (5, 535, 'eraser', 10, 240)]

In [58]:
data = [
    ["Name", "Age", "City"],
    ["Alice", 30, "New York"],
    ["Bob", 25, "Los Angeles"],
    ["Charlie", 35, "Chicago"]
]

In [68]:
with open('output.csv', mode='w', newline='') as file:
    writer = csv.writer(file)
    
    # Write each row of data
    writer.writerows(data)